<app-navbar></app-navbar>
<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .input-group-addon {
    box-shadow: 9px 8px 7px #001a33;
  }

  .required-field {
    color: red;
    font-weight: bold;
  }

  .alertRedColor {
    color: red;
  }

  .card-body {
    padding: 2rem;
  }

  .input-group-text i {
    width: 1.5rem;
  }

  .btn-primary,
  .btn-success,
  .btn-warning {
    width: 100%;
  }

  .form-control {
    height: calc(2.25rem + 2px);
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  .input-group-prepend .input-group-text {
    background-color: #e9ecef;
    border: 1px solid #ced4da;
  }

  .input-group-prepend .input-group-text i {
    color: #495057;
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .textarea-height {
    height: 100px;
  }

  .card {
    margin: auto;
    max-width: 500px;
  }
</style>

<div class="container-fluid"
  style="padding: 2% 0; background: url('assets/files/wall.jpg') no-repeat center center; background-attachment: fixed; background-size: cover; width: 100%; height: auto;">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body input-group-addon grad">
          <form name="userForm">
            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold text-center">{{ 'Add Customer' |
              translate }}
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold text-center">{{ 'Update Customer' |
              translate }}
            </h2>

            <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <div class="form-group">
              <label><b>{{ 'Gender' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-flag grey-text"></i></div>
                </div>
                <select class="form-control" name="gender" id="gender" [(ngModel)]="form.data.gender"
                  style="cursor: pointer;">
                  <option [ngValue]="" value="undefined">{{'Please select' | translate }}</option>
                  <option value="Male">{{'Male' | translate }} </option>
                  <option value="Female">{{'Female' | translate }} </option>
                </select>
              </div>
              <span *ngIf="form.inputerror.genderId" class="alertRedColor">{{form.inputerror.genderId}}</span>
            </div>

            <div class="form-group">
              <label><b>{{ 'Name' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user grey-text"></i></div>
                </div>
                <input type="text" name="name" [(ngModel)]="form.data.name" class="form-control"
                  placeholder="{{ 'Enter name' | translate }}" (keydown)="validateNameInput($event)" maxlength="21">
              </div>
              <span *ngIf="form.inputerror.name" class="alertRedColor">{{form.inputerror.name}}</span>
            </div>



            <div class="form-group">
              <label><b>{{ 'Phone Number' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-phone grey-text"></i></div>
                </div>
                <input type="text" name="phoneNumber" [(ngModel)]="form.data.phoneNumber" class="form-control"
                  placeholder="{{ 'Enter phoneNumber' | translate }}" maxlength="11" (keypress)="validatePhone($event)">


              </div>
              <span *ngIf="form.inputerror.phoneNumber" class="alertRedColor">{{ form.inputerror.phoneNumber}}</span>
            </div>

            <div class="form-group">
              <label><b>{{ 'Date of Birth' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-calendar-alt grey-text"></i></div>
                </div>
                <input type="date" name="dateOfBirth" [value]="form.data.dateOfBirth | date:'yyyy-MM-dd'"
                  (input)="form.data.dateOfBirth=parseDate($event.target.value)" class="form-control" required />
              </div>
              <span *ngIf="form.inputerror.dateOfBirth" class="alertRedColor">{{ form.inputerror.dateOfBirth
                }}</span>
            </div>

            <div class="row pt-2 pb-3 justify-content-center">
              <div class="col-md-4">
                <button *ngIf="!form.data.id" (click)="onUpload()" class="btn btn-success">{{ 'Save' | translate
                  }}</button>
              </div>
              <div class="col-md-4">
                <button *ngIf="form.data.id" (click)="onUpload()" class="btn btn-success">{{ 'Update' | translate
                  }}</button>
              </div>
              <div class="col-md-4">
                <a class="btn btn-warning" type="button" [routerLink]="['/customerlist']">{{ 'List' | translate
                  }}</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>