<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .background {
    padding-top: 3%;
    padding-bottom: 13%;
    background: url('assets/files/wall.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .required-field {
    color: red;
  }

  .alertRedColor {
    color: red;
  }
</style>

<div class="container-fluid background">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body shadow-lg grad">
          <form name="employeeForm">
            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Add Customer' | translate }}
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Update Customer' | translate }}
            </h2>

            <!-- Form error messages -->
            <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>
            <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <div class="form-group pt-2">
              <label><b>{{ 'First Name' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-id-badge grey-text"></i></div>
                </div>
                <input type="text" name="firstName" [(ngModel)]="form.data.firstName" class="form-control"
                  (keydown)="filterInput($event, 'errorMessageFirstName', 20, 'char')"
                  placeholder="{{ 'Enter First Name' | translate }}" required>
              </div>
              <span *ngIf="errorMessageFirstName" class="alertRedColor">{{ errorMessageFirstName }}</span>
              <span *ngIf="form.inputerror?.firstName" class="alertRedColor">{{ form.inputerror.firstName
                }}</span>
            </div>
            <div class="form-group pt-2">
              <label><b>{{ 'Location' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-id-badge grey-text"></i></div>
                </div>
                <input type="text" name="location" [(ngModel)]="form.data.location" class="form-control"
                  (keydown)="filterInput($event, 'errorMessageLocation', 20, 'char')"
                  placeholder="{{ 'Enter Location' | translate }}" required>
              </div>
              <span *ngIf="errorMessageLocation" class="alertRedColor">{{ errorMessageLocation }}</span>
              <span *ngIf="form.inputerror?.location" class="alertRedColor">{{ form.inputerror.location
                }}</span>
            </div>


           

            <div class="form-group pt-2">
              <label><b>{{ 'Number' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-id-badge grey-text"></i></div>
                </div>
                <input type="text" name="number" [(ngModel)]="form.data.number" class="form-control"
                  (keydown)="filterInput($event, 'errorMessageNumber', 10, 'int')"
                  placeholder="{{ 'Enter Number' | translate }}" required>
              </div>
              <span *ngIf="errorMessageNumber" class="alertRedColor">{{ errorMessageNumber }}</span>
              <span *ngIf="form.inputerror?.number" class="alertRedColor">{{ form.inputerror.number }}</span>
            </div>


            <div class="form-group pt-2">
              <label><b>{{ 'Importance' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-paint-brush grey-text"></i></div>
                </div>
                <select class="form-control" name="importance" [(ngModel)]="form.data.importance" aria-label="ngSelected"
                  required>
                  <option [ngValue]="undefined">{{ 'Select Importance' | translate }}</option>
                  <option *ngFor="let carte of form.preload.CustomereList" [value]="carte.key">{{ carte.value }}</option>
                </select>
              </div>
              <span *ngIf="form.inputerror?.importance" class="alertRedColor">{{ form.inputerror.importance }}</span>
            </div>

            <div class="row pt-2 pl-2 pb-3">

              <div class="col-md-3"></div>

              <div class="pt-2">
                <button *ngIf="!form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Save' | translate }}
                </button>
              </div>

              <div class="col-md-1"></div>

              <div class="pt-2">
                <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Update' | translate }}
                </button>
              </div>

              <div class="pt-2">
                <a class="btn btn-warning mr-1" type="button" [routerLink]="['/customerlist']"
                  style="text-decoration: none; color: white;">
                  {{ 'List' | translate }}
                </a>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>