<app-navbar></app-navbar>

<style>
  .grad {
    background-image: linear-gradient(to bottom right, rgb(32, 168, 168), rgb(219, 231, 237));
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 25px;
  }

  .background {
    padding-top: 3%;
    padding-bottom: 13%;
    background: url('assets/files/wall.jpg') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
  }

  .required-field {
    color: red;
  }

  .alertRedColor {
    color: red;
  }
</style>

<div class="container-fluid background">
  <div class="row justify-content-center">
    <div class="col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body shadow-lg grad">
          <form name="assetForm">
            <h2 *ngIf="!form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Add Asset' | translate }}
            </h2>
            <h2 *ngIf="form.data.id" class="text-primary font-weight-bold" style="text-align: center;">
              {{ 'Update Asset' | translate }}
            </h2>

            <!-- Form error messages -->
            <div *ngIf="form.error && form.message" class="alert alert-danger alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>
            <div *ngIf="!form.error && form.message" class="alert alert-success alert-dismissible fade show">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ form.message }}
            </div>

            <div class="form-group pt-2">
              <label><b>{{ 'Registration Number' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-id-badge grey-text"></i></div>
                </div>
                <input type="text" name="registrationNumber" [(ngModel)]="form.data.registrationNumber" class="form-control"
                  (keydown)="filterInput($event, 'errorMessageRegistrationNumber', 20, '')"
                  placeholder="{{ 'Enter Registration Number' | translate }}" required>
              </div>
              <span *ngIf="errorMessageRegistrationNumber" class="alertRedColor">{{ errorMessageRegistrationNumber }}</span>
              <span *ngIf="form.inputerror?.registrationNumber" class="alertRedColor">{{ form.inputerror.registrationNumber }}</span>
            </div>
            
            <div class="form-group pt-2">
              <label><b>{{ 'Acquisition Date' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-calendar grey-text"></i></div>
                </div>
                <input type="date" name="acquisitionDate" [value]="form.data.acquisitionDate | date:'yyyy-MM-dd'" class="form-control"
                (input)="form.data.acquisitionDate=parseDate($event.target.value)"
                  placeholder="{{ 'Enter Acquisition Date' | translate }}" required>
              </div>
              
              <span *ngIf="form.inputerror?.acquisitionDate" class="alertRedColor">{{ form.inputerror.acquisitionDate }}</span>
            </div>

            <div class="form-group pt-2">
              <label><b>{{ 'Coverage Amount' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-dollar-sign grey-text"></i></div>
                </div>
                <input type="text" name="coverageAmount" [(ngModel)]="form.data.coverageAmount" class="form-control"
                  (keydown)="filterInput($event, 'errorMessageCoverageAmount', 10, 'int')"
                  placeholder="{{ 'Enter Coverage Amount' | translate }}" required>
              </div>
              <span *ngIf="errorMessageCoverageAmount" class="alertRedColor">{{ errorMessageCoverageAmount }}</span>
              <span *ngIf="form.inputerror?.coverageAmount" class="alertRedColor">{{ form.inputerror.coverageAmount }}</span>
            </div>

            <div class="form-group pt-2">
              <label><b>{{ 'Paint Color' | translate }}</b><span class="required-field">*</span></label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-paint-brush grey-text"></i></div>
                </div>
                <select class="form-control" name="paintColor" [(ngModel)]="form.data.paintColor" aria-label="ngSelected" required>
                  <option [ngValue]="undefined">{{ 'Select Paint Color' | translate }}</option>
                  <option *ngFor="let color of form.preload.paintColorList" [value]="color.key">{{ color.value }}</option>
                </select>
              </div>
              <span *ngIf="form.inputerror?.paintColor" class="alertRedColor">{{ form.inputerror.paintColor }}</span>
            </div>

            <div class="row pt-2 pl-2 pb-3">
  
              <div class="col-md-3"></div>
              
              <div class="pt-2">
                <button *ngIf="!form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Save' | translate }}
                </button>
              </div>
            
              <div class="col-md-1"></div>
            
              <div class="pt-2">
                <button *ngIf="form.data.id > 0" (click)="submit()" class="btn btn-success mr-2">
                  {{ 'Update' | translate }}
                </button>
              </div>
              
              <div class="pt-2">
                <a class="btn btn-warning mr-1" type="button" [routerLink]="['/assetlist']"
                   style="text-decoration: none; color: white;">
                  {{ 'List' | translate }}
                </a>
              </div>
              
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
