<app-navbar></app-navbar>

<style>
  #nnn {
    background: none;
    border: none;
    cursor: pointer;
  }

  .panel-heading {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search-inputs {
    margin-top: 20px;
  }

  .search-inputs .form-control,
  .search-inputs .btn {
    margin-bottom: 10px;
  }

  .content-wrapper {
    background: url('assets/files/teahu.png') no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    width: auto;
    height: 105vh;
    padding: 20px;
  }

  .table-responsive {
    margin-top: 20px;
  }

  .search-inputs .col-sm-2,
  .search-inputs .col-sm-1 {
    padding: 0 5px;
  }

  .alertRedColor {
    color: red;
  }
</style>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="text-primary font-weight-bold">{{ 'Cart List' | translate }}</h1>
      </div>

      <div class="row search-inputs p-1 justify-content-center">
        <div class="col-sm-2">
          <input type="text" name="customerName" [(ngModel)]="form.searchParams.customerName" class="form-control"
            (keydown)="filterInput($event, 'errorMessageCustomerName', 20, 'char')"
            placeholder="{{ 'Enter  Customer' | translate }}">
          <span *ngIf="errorMessageCustomerName" class="alertRedColor">{{ errorMessageCustomerName }}</span>
          <span *ngIf="form.inputerror?.customerName" class="alertRedColor">{{ form.inputerror.customerName }}</span>
        </div>
        <div class="col-sm-2">
          <input type="date" name="dateOfTransction" [(ngModel)]="form.searchParams.dateOfTransction"
            class="form-control" placeholder="{{ 'Enter Date Of Transction' | translate }}">
        </div>

        <div class="col-sm-2">
          <input type="text" name="quantity" [(ngModel)]="form.searchParams.quantity" class="form-control"
            (keydown)="filterInput($event, 'errorMessageQuantity', 20, 'int')"
            placeholder="{{ 'Enter Quantity' | translate }}">
          <span *ngIf="errorMessageQuantity" class="alertRedColor">{{ errorMessageQuantity }}</span>
          <span *ngIf="form.inputerror?.quantity" class="alertRedColor">{{ form.inputerror.quantity }}</span>
        </div>

        <div class="col-sm-2">
          <select class="form-control" name="product" [(ngModel)]="form.searchParams.product" aria-label="ngSelected"
            required>
            <option [ngValue]="undefined">{{ 'Select Product' | translate }}</option>
            <option *ngFor="let preloaddd of form.preload.CarteListtt" [value]="preloaddd.key">{{ preloaddd.value }}
            </option>
          </select>

        </div>

        <div class="col-sm-1">
          <button (click)="submit()" class="btn btn-primary">{{ 'Search' | translate }}</button>
        </div>

        <div class="col-sm-2">
          <button (click)="forward('/cart')" type="button" class="btn btn-success">
            {{ 'Add Cart' | translate }}
          </button>
        </div>

        <div class="col-sm-1">
          <button (click)="deleteMany()" class="btn btn-danger">{{ 'Delete' | translate }}</button>
        </div>
      </div>

      <div *ngIf="form.error" class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <div *ngIf="!form.error && form.message != null" class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ form.message }}
      </div>

      <div class="table-responsive">
        <table class="table table-bordered table-hover font-weight-bold text-dark">
          <thead class="thead-dark text-uppercase">
            <tr align="center">
              <th><input type="checkbox" [(ngModel)]="isMasterSel" name="list_name"
                  (change)="checkUncheckAll($event)" /></th>
              <th>{{ 'S.No' | translate }}</th>
              <th>{{ 'CustomerName' | translate }}</th>
              <th>{{ 'dateOfTransction' | translate }}</th>
              <th>{{ 'Quantity' | translate }}</th>
              <th>{{ 'Product' | translate }}</th>
              <th>{{ 'Edit' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of form.list; let i = index" align="center">
              <td><input type="checkbox" #checkboxes (change)="checklistUpdate()" name="list_name" [id]="m.id" /></td>
              <td>{{ (form.pageNo * 5) + i + 1 }}</td>
              <td>{{ m.customerName }}</td>
              <td>{{ m.dateOfTransction | date:'yyyy-MM-dd' }}</td>
              <td>{{ m.quantity }}</td>
              <td>{{ findSelValueByKey(m.product,form.preload.CarteListtt) }}</td>

              <td>
                <button class="fa fa-edit text-primary" id="nnn" (click)="forward('/cart/' + m.id)">
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between mt-3">
          <button (click)="previous()" [disabled]="form.pageNo == 0" class="btn btn-info">{{ 'Previous' | translate
            }}</button>

          <div>
            <a class="btn btn-warning mr-1" [routerLink]="['/cartlist']" (click)="exit()">
              {{ 'Reset' | translate }}
            </a>
          </div>

          <div *ngIf="form.list.length == 0">
            <a class="btn btn-warning mr-1" [routerLink]="['/cartlist']" (click)="exit()">
              {{ 'Back' | translate }}
            </a>
          </div>
          <button (click)="next()" [disabled]="nextList == 0" class="btn btn-info">{{ 'Next' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>